<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.daniel.mobilepauker2">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.PaukerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity" >

        <activity
            android:name=".mainmenu.MainMenu"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lessonimport.LessonImport"
            android:label="@string/lessons"
            android:screenOrientation="portrait"
            android:parentActivityName=".mainmenu.MainMenu"
            android:theme="@style/OpenLessonTheme"/>

        <activity
            android:name=".editcard.AddCard"
            android:label="@string/add_new_card"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".lesson.EditDescription"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>